In [8]:
import csv
import glob
import numpy as np
import pandas as pd
# import sys
# sys.path.append('./data/fullhistory')

def readMyFile(path):
    dates = []
    values = []

    with open(path) as csvDataFile:
        csvReader = csv.reader(csvDataFile)
        for row in csvReader:
            dates.append(row[0])
            values.append(row[2])

    # hack to remove the strings date and opening
    dates.pop(0)
    values.pop(0)

    return dates, values #np.array(dates), np.array(values)

In [19]:
filename = './data/full_history/SAIL.csv'

df = pd.read_csv(filename, parse_dates=[0])
df.head()

        date   volume       open      close       high        low   adjclose
0 2018-11-02   532700  26.100000  25.719999  26.559999  25.570000  25.719999
1 2018-11-01   845900  26.309999  26.020000  26.330000  25.385000  26.020000
2 2018-10-31  1488900  25.340000  26.040001  26.209999  24.969999  26.040001
3 2018-10-30   947800  23.520000  24.500000  24.680000  23.020000  24.500000
4 2018-10-29  1363000  24.209999  23.680000  24.590000  23.170000  23.680000

In [9]:

df = pd.DataFrame()

path = "./data/full_history/*.csv"
paths = np.array(glob.glob(path))
print("Shape of paths" + str(paths.shape))

i = 0
for filename in paths:
#    i = i + 1
#    dates,values = readMyFile(filename)
#    if(i == 1):
#        series = pd.Series(values, index=dates)
#        df = pd.DataFrame(values, index=dates, columns = ["Col " + str(i)])
        # df = df["Col" + str(i)] = series
#        continue
#    if(i == 3):
#        break
    # if(i == 2):
    #     values.pop(0)
    #     dates.pop(0)
#    newDf = pd.DataFrame(values, index=dates, columns = ["Col " + str(i)])
#    print(newDf)
#    pd.concat([df,newDf],ignore_index=True, axis=1, sort = "False")
#    print(df)

Shape of paths(6151,)
                         Col 2
2018-11-02  13.609999656677246
2018-11-01  13.520000457763672
2018-10-31    13.5600004196167
2018-10-30  13.539999961853027
2018-10-29  13.579999923706055
...                        ...
2012-05-03  20.030000686645508
2012-05-02  20.049999237060547
2012-05-01  20.079999923706055
2012-04-30  20.020000457763672
2012-04-27                20.0

[1642 rows x 1 columns]
                         Col 1
2018-11-02  26.100000381469727
2018-11-01  26.309999465942383
2018-10-31   25.34000015258789
2018-10-30  23.520000457763672
2018-10-29  24.209999084472656
...                        ...
2018-01-22  15.829999923706055
2018-01-19    15.6899995803833
2018-01-18   16.15999984741211
2018-01-17  15.529999732971191
2018-01-16  16.450000762939453

[204 rows x 1 columns]

array(['./data/full_history/SAIL.csv', './data/full_history/ISD.csv',
       './data/full_history/MEN.csv', ..., './data/full_history/EACQ.csv',
       './data/full_history/TCX.csv', './data/full_history/RDNT.csv'],
      dtype='<U29')